{% extends 'base.html' %}
{% block content %}

<div class="main-div">
  <h4 class="header-emojis">🌼🌸🌺🌻</h4>
  <h1>Wish List Items</h1>


{% if item_list %}
<table>
  <tr>
    <th>Description</th>
    <th>Delete</th>
  </tr>
{% for item in item_list.all %}
  <tr>
    <td>{{ item.description }}</td>
    <td><a class="delete-link" href="{% url 'item_delete' item.id %}">X</a></td>
  </tr>
{% endfor %}
</table>
{% else %}
<h3>No Wish Items Exist</h3>
{% endif %}

<hr>
<a class="add-item" href="{% url 'item_create' %}">Add A Wish Item</a>

</div>

{% endblock %}